body {
    height: 100vh;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center
}

.container {
    display: grid inline;
    grid-template-columns: 142px 142px 142px 142px;
    grid-template-rows: 190px 190px;
    gap: 5px;
   
}

.card {
    background-color: #f0f0f0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.card label {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.card input[type="checkbox"] {
    display: none;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.4s ease;    
}

.card input[type="checkbox"]:checked ~ img {
    opacity: 1 ;
}

